<h1>Posts!</h1>
{{#if hasItems}}
  <div class="row">
    <h2>
      Posts
      <button {{action "newPost"}} class="btn btn-primary pull-right">New Story</button>
    </h2>
  </div>

  {{#each post in controller}}
  <div class="row post">
    <h3>{{post.title}}</h3>
    <p><small>by {{post.author}}</small></p>
    <blockquote>{{{post.formattedBody}}}</blockquote>
  </div>
  {{/each}}

{{else}}
  <div class="row">
    <h2>No posts. Add a post?</h2>
    <hr />
    <buttonclass="btn btn-primary">New Story</button>
  </div>
{{/if}}